[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=
   logging-fstring-interpolation,
   line-too-long,
   invalid-name,
   E1136  # pylint/issues/3139,

[MASTER]
extension-pkg-allow-list=PyQt5